@use "../variables" as v;
@use "../mixins";
.people-talking {

  background: url(/dist/img/people-talking-bg.png),#4a3b4e ;
  background-repeat: no-repeat;
  background-position-x: center;

  overflow: hidden;
  &__customers-img-wrapper{
    height: 70px;
    @include mixins.flex-placement-row;
    margin-bottom: 20px;
  }
  &__container {
    margin: 0 auto;
    max-width: v.$desktop + 0px;
    @include mixins.safepaddings;
    &:after {
      content: "";
      margin: 0 auto;
      display: block;
      width: 245px;
      height: 2px;
      background-color: #645766;
    }
  }
  &__customers {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  &__customers-card {
    @include mixins.flex-placement-column();
    width: 100%;
    margin-bottom: 45px;
  }
  &__customers-logo {
  }
  &__customers-response {
    padding: 0 9px 0 25px;
    font-family: Lato;
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: white;
  }
  &__legends {
    padding-bottom: 12px;
    font-family: "Lato";
    font-size: 14px;
    line-height: 133%;
    text-align: center;
    color: #a291a5;
  }
  &__title {
    padding: 57px 10px 10px 10px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin-bottom: 50px;
  }
}
@media (min-width: v.$mobile + 0px) {
  .people-talking {
    &__container {
      &:after {
        content: "";
        margin: 0 auto;
        display: block;
        width: 78%;
        height: 2px;
        background-color: #645766;
      }

    }
    &__customers-card {
      display: block;
      width: 50%;
      flex-direction: row;
      @include mixins.flex-placement-column;
      margin: 0;
      padding-bottom: 58px;

    }
    &__customers{
      @include mixins.flex-placement-row;
    }
    &__customers-response {
    }
    &__title {
      padding-top: 86px;
      font-size: 41px;
    }
    &__legends {
      margin: 0 30px;
    }
  }
}

@media (min-width: v.$tablet + 0px) {
  .people-talking {
    background-size: cover;
    &__container {
      &:after {
        content: "";
        margin: 0 auto;
        display: block;
        width: 56%;
        height: 2px;
        background-color: #645766;
      }
    }
    &__customers-card {
      width: 33%;

    }
    &__legends {
      margin: 0 0 0 18%;
      padding-bottom: 8px;
      width: 64%;
    }
    &__title {
      padding-top: 108px;
      font-size: 46px;
      margin-bottom: 40px;
    }
  }
}
